{{!-- This is the handlebar responsible for the film page. We are using tailwind CSS for the styling.--}}


<div class="flex justify-center items-center">
    <h1 class="w-1/2 mx-auto text-center text-2xl font-bold"> {{ movieName }} </h1>
</div>

{{>add-remove}}

<div id="poster-div" class="bg-zinc-200 flex justify-center items-center h-100 mb-2">
    <img src="{{poster_URL}}" class="block rounded-lg lg:w-80" alt="poster"/>

</div>

<div class="flex justify-center items-center">
    <div class="flex">
        <div id="Genre" class="inline-block border-stone-200 border-b-2 p-1 m-1 font-medium">
            <p>Genre: {{genre}}</p>
        </div>
        <div id="rating" class="inline-block border-stone-200 p-1 border-b-2 m-1 font-medium">
            <P>Rating: {{rating}}%</P>
        </div>   
        <div id="runtime" class="inline-block border-stone-200 p-1 border-b-2 m-1 font-medium">
            <P>Runtime: {{runtime}} minutes</P>
        </div>
       
    </div>
</div>  


<div class="flex justify-center items-center">
    <div id="Synopsis" class="w-1/2 mx-auto text-center mt-3 font-medium">
        <p>{{ description }}
        </p>
        {{#if reviews}}
  <div id="reviews" class="inline-block border-stone-200 p-1 border-b-2 m-1">
    <p>Reviews:</p>
    {{#each reviews as |reviewText index|}}
      <p data-review-id="{{review_id.[index]}}">{{reviewText}}</p>
    {{/each}}
  </div>
{{/if}}

    </div>
    

</div>

<div class="trailer container self-center items-center flex rounded w-1/2" id="movieTrailer">
    <iframe width="560" height="215" src="" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen id="trailer"></iframe>
</div>


<div class="">
    <div class="bg-red-400 flex justify-center">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your review</label>
    </div>

<div class="bg-gray-200 p-4">
  <h2 class="text-lg font-medium mb-4">Leave a Review</h2>
  <form action="/reviews" method="POST">
    <div class="mb-4">
      <label for="review" class="block font-medium text-gray-700 mb-2">Review</label>
      <textarea id="review_text" name="review_text" class="border border-gray-400 p-2 rounded-lg w-full"></textarea>
    </div>
    <input type="hidden" name="imdb_id" value="{{imdb_id}}">
    <input type="hidden" name="review_id" value="{{review_id}}">
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Submit</button>
  </form>
</div>

{{!-- This code block is allowing reviews to be displayed if there are any attached to that film. --}}
{{#if reviews}}
<div id="reviews" class="bg-pink-500 flex justify-center items-center">
    <h2 class="block">Reviews</h2>
    <p class="block">{{review}}</p>
</div>
{{/if}}

</div>

