
<div class="flex justify-center items-center">
    <h1 class="w-1/2 mx-auto text-2xl text-center font-bold"> {{ movieName }} </h1>
</div>

{{>add-remove}}

<div id="poster-div" class="bg-zinc-200 flex justify-center items-center h-100 mb-2">
    <img src="{{poster_URL}}"" class="block rounded-lg lg:w-80" alt="poster"/>
</div>

<div class="flex justify-center items-center">
    <div class="flex">
        <div id="Genre" class="inline-block border-rose-900 border-b-2 p-1 m-1 font-medium">
            <p>Genre: {{genre}}</p>
        </div>
        <div id="rating" class="inline-block border-rose-900 p-1 border-b-2 m-1 font-medium">
            <P>Rating: {{rating}}%</P>
        </div>   
        <div id="runtime" class="inline-block border-rose-900 p-1 border-b-2 m-1 font-medium">
            <P>Runtime: {{runtime}} minutes</P>
        </div>
    </div>
</div>  


<div class="flex justify-center items-center">

    <div id="Synopsis" class="w-1/2 mx-auto text-center mt-3 font-medium">
        <p>{{ description }}
        </p>
    </div>

</div>

<div class="trailer container self-center items-center flex rounded w-1/2" id="movieTrailer">
    <iframe width="560" height="215" src="" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen id="trailer"></iframe>
</div>


<div class="">
    <div class="bg-red-400 flex justify-center">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your review</label>
    </div>
    <div class="bg-green-400 w-1/2 flex justify-center">
        <textarea id="message" rows="4" class=" block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a review"></textarea>  
    </div>
    <div class="bg-blue-400 flex justify-center">        
        <button type="submit" class="">Submit</button>
    </div>  
</div>

<div id="reviews" class="bg-pink-500 flex justify-center items-center">
    <h2 class="block">Reviews</h2>
    <p class="block">{{review}}</p>
</div>